<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Importer - Display</title>
</head>
<body>
    <script>
        // Disable the back button (partially)
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
        // Display a confirmation dialog if the user tries to leave
        window.onbeforeunload = function () {
            return 'Are you sure you want to leave? Your data may be lost.';
        };
    </script>
    <h1>CSV Importer - Display Page</h1>
 

   
    {% if data %}
        {% for document in data %}
            <form >
                {% for key, value in document.items() %}
                    {% if key in ['name', 'rollno', 'gmail', 'phone'] %}
                        <label for="{{ key }}">{{ key }}</label>
                        <input type="text" name="{{ key }}" value="{{ value }}" readonly>
                    {% endif %}
                {% endfor %}
               
            </form>
         
        {% endfor %}
    {% endif %}
    <form action="/display/{{ collection_name }}" method="post">
        <button type="submit">Delete All</button>
    </form>
    
    <form action="/success" method="post">
    <button type="submit">Continue</button>
</form>
</body>
</html>
